.post-img {
  height: 606px;
  overflow: hidden;
}

.post-img img {
  width: 100%;
}

.blog-post-content h1 {
  text-align: center;
}
.blog-post-content p {
  font-size: 20px;
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.more-post {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogpost-meta {
  display: flex;
  justify-content: space-between;
}
.author-info {
  margin: 12px 0;
}
.author-info div {
  padding: 4px 0px;
  font-family: var(--font2);
}
